<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <base target="_parent">
    <title>{{ actor_details.name }} - CsED</title>
</head>
<body>
<div id="body-wrapper">
    <section>
        <h1 class="title text-center">{{ actor_details.name }}</h1>
        <div class="card">
            <p>Birthday: {% if actor_details.birthday %}{{ actor_details.birthday }}{% else %}Not available{% endif %}</p>
            {% if actor_details.death -%}
            <p>Died: {{ actor_details.death }}</p>
            {%- endif %}
            <p></p>
            {% if actor_details.biography | length > 0 -%}
            <p><u>Biography:</u><br>{{ actor_details.biography }}</p>
            {%- else %}
            <p><u>Biography:</u><br>Not available</p>
            {% endif -%}
            <p></p>
            {% if actor_details.filmography | length > 0 -%}
            <p><u>Filmography:</u><br>{{ actor_details.filmography | safe }}</p>
            {%- else %}
            <p><u>Filmography:</u><br>Not available</p>
            {% endif -%}
        </div>
    </section>
    <footer>
        &nbsp;
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
</body>
</html>