{% extends 'pattern.html' %}

{% block title %}You're not logged in{% endblock %}
{% block content %}
    <div id="top-menu">
        <button type="button" id="menu-btn-back" class="menu-button">Homepage</button>
        <button type="button" id="menu-btn-shows" class="menu-button">Shows</button>
        <button type="button" id="menu-btn-actors" class="menu-button">Actors</button>
        <button type="button" id="menu-btn-genres" class="menu-button">Genres</button>
        <button type="button" id="menu-btn-add" class="menu-button" style="display: none">Add</button>
    </div>
    <section>
        <div class="info" style="color: #ff0000;">You're not logged in.</div>
    </section>
{% endblock %}