{% extends 'pattern.html' %}

{% set img_desc = 'assets/desc.png' %}
{% set img_asc = 'assets/asc.png' %}

{% block title %}Shows{% endblock %}
{% block content %}
    <div id="top-menu">
        <button type="button" id="menu-btn-back" class="menu-button"><< Go Back Home Page</button>
    </div>
    <section>
        <h1 class="title text-center">Shows</h1>
        {% if error -%}
        <div class="error">{{ error | safe }}</div>
        {%- endif %}
        {% if sql and dict_webpages %}
        <div class="card">
            <table>
                <thead>
                    <tr>
                        {% if sql.column == COL_TITLE and sql.order == ORD_ASC -%}
                        <th><a href="{{ url_for('ordered-pagination', column=COL_TITLE, order=ORD_DESC, page_no=sql.page_no) }}">Title <img src="{{ url_for('static', filename=img_asc) }}" alt="{{ ORD_ASC }}"></a></th>
                        {%- elif sql.column == COL_TITLE and sql.order == ORD_DESC %}
                        <th><a href="{{ url_for('ordered-pagination', column=COL_TITLE, order=ORD_ASC, page_no=sql.page_no) }}">Title <img src="{{ url_for('static', filename=img_desc) }}" alt="{{ ORD_DESC }}"></a></th>
                        {%- else %}
                        <th><a href="{{ url_for('ordered-pagination', column=COL_TITLE, order=ORD_DESC, page_no=sql.page_no) }}">Title</a></th>
                        {%- endif -%}
                        {% if sql.column == COL_YEAR and sql.order == ORD_ASC -%}
                        <th><a href="{{ url_for('ordered-pagination', column=COL_YEAR, order=ORD_DESC, page_no=sql.page_no) }}">Year <img src="{{ url_for('static', filename=img_asc) }}" alt="{{ ORD_ASC }}"></a></th>
                        {%- elif sql.column == COL_YEAR and sql.order == ORD_DESC %}
                        <th><a href="{{ url_for('ordered-pagination', column=COL_YEAR, order=ORD_ASC, page_no=sql.page_no) }}">Year <img src="{{ url_for('static', filename=img_desc) }}" alt="{{ ORD_DESC }}"></a></th>
                        {%- else %}
                        <th><a href="{{ url_for('ordered-pagination', column=COL_YEAR, order=ORD_DESC, page_no=sql.page_no) }}">Year</a></th>
                        {%- endif -%}
                        {% if sql.column == COL_RUNTIME and sql.order == ORD_ASC -%}
                        <th><a href="{{ url_for('ordered-pagination', column=COL_RUNTIME, order=ORD_DESC, page_no=sql.page_no) }}">Runtime (min) <img src="{{ url_for('static', filename=img_asc) }}" alt="{{ ORD_ASC }}"></a></th>
                        {%- elif sql.column == COL_RUNTIME and sql.order == ORD_DESC %}
                        <th><a href="{{ url_for('ordered-pagination', column=COL_RUNTIME, order=ORD_ASC, page_no=sql.page_no) }}">Runtime (min) <img src="{{ url_for('static', filename=img_desc) }}" alt="{{ ORD_DESC }}"></a></th>
                        {%- else %}
                        <th><a href="{{ url_for('ordered-pagination', column=COL_RUNTIME, order=ORD_DESC, page_no=sql.page_no) }}">Runtime (min)</a></th>
                        {%- endif -%}
                        {% if sql.column == COL_RATING and sql.order == 'ASC' -%}
                        <th><a href="{{ url_for('ordered-pagination', column=COL_RATING, order=ORD_DESC, page_no=sql.page_no) }}">Rating <img src="{{ url_for('static', filename=img_asc) }}" alt="{{ ORD_ASC }}"></a></th>
                        {%- elif sql.column == COL_RATING and sql.order == 'DESC' %}
                        <th><a href="{{ url_for('ordered-pagination', column=COL_RATING, order=ORD_ASC, page_no=sql.page_no) }}">Rating <img src="{{ url_for('static', filename=img_desc) }}" alt="{{ ORD_DESC }}"></a></th>
                        {%- else %}
                        <th><a href="{{ url_for('ordered-pagination', column=COL_RATING, order=ORD_DESC, page_no=sql.page_no) }}">Rating</a></th>
                        {%- endif %}
                        <th>Genres</th>
                        <th>Trailer</th>
                        <th>Homepage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show in shows_dict -%}
                    <tr>
                        <td><a href="{{ url_for('show_detail', show_id=show.id) }}">{{ show.title }}</a></td>
                        <td>{{ show.year }}</td>
                        <td>{{ show.runtime }}</td>
                        <td>{{ show.round_rating }}</td>
                        {% if show.genres_name -%}
                        <td>{{ show.genres_name }}</td>
                        {%- else %}
                        <td>No Genres</td>
                        {%- endif %}
                        {% if show.trailer -%}
                        <td><a href="{{ show.trailer }}" target="_blank">Trailer</a></td>
                        {%- else %}
                        <td>No URL</td>
                        {%- endif %}
                        {% if show.homepage -%}
                        <td><a href="{{ show.homepage }}" target="_blank">Homepage</a></td>
                        {%- else %}
                        <td>No URL</td>
                        {%- endif %}
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
        <div class="card">
            <div class="pagination">
                {% for key in dict_webpages.keys() %}
                <a href="{{ url_for('ordered-pagination', column=sql.column, order=sql.order, page_no=key) }}">{{ key }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </section>
{% endblock %}